In [1]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('download.csv', on_bad_lines='skip')

In [6]:
df.head()

  # This file was produced by https://exoplanet.eu
0                      #COLUMN name: Planet name
1  #COLUMN planet_status: Confirmed or candidate
2            #COLUMN mass: Mass (Jupiter masses)
3         #COLUMN mass_error_min: Min mass error
4         #COLUMN mass_error_max: Max mass error

In [8]:
df=pd.read_excel('download.xls')

In [9]:
df

,radius,radius_error_min,radius_error_max,orbital_period,orbital_period_error_min,orbital_period_error_max,semi_major_axis,semi_major_axis_error_min,semi_major_axis_error_max,eccentricity,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,1.152,NaN,NaN,1075.400000,7.000000e-01,7.000000e-01,2.05100,8.700000e-02,8.700000e-02,0.104,...,G5 IV,6.90,0.60,0.60,5600.0,80.000,80.000,NaN,NaN,HD 10697
1,NaN,NaN,NaN,4.400000,4.000000e-04,4.000000e-04,0.05400,2.000000e-03,2.000000e-03,0.376,...,G0IV,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235
2,NaN,NaN,NaN,36336.700000,6.039400e+03,6.039400e+03,22.21000,2.766000e+00,2.766000e+00,0.174,...,G0IV,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235
3,NaN,NaN,NaN,326.030000,3.200000e-01,3.200000e-01,1.29000,5.000000e-02,5.000000e-02,0.231,...,G8III,NaN,NaN,NaN,4742.0,100.000,100.000,NaN,NaN,HD 107383
4,NaN,NaN,NaN,516.220000,3.250000e+00,3.250000e+00,1.54000,7.000000e-02,7.000000e-02,0.080,...,K4III,1.56,0.54,0.54,4340.0,70.000,70.000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7408,0.292,NaN,NaN,0.054057,NaN,NaN,0.00272,2.430000e-09,2.430000e-09,NaN,...,PSR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7409,0.980,0.02,0.02,0.069789,NaN,NaN,NaN,NaN,NaN,NaN,...,sdB,NaN,NaN,NaN,29000.0,NaN,NaN,NaN,NaN,"PG 1621+476, ZTF J162256.66+473051.1"
7410,0.680,0.07,0.07,0.043000,NaN,NaN,NaN,NaN,NaN,NaN,...,DA,NaN,NaN,NaN,11200.0,300.000,300.000,NaN,NaN,ZTF J163743.49+491740.4
7411,1.020,0.02,0.02,0.112007,8.700000e-07,8.700000e-07,0.00388,9.280000e-06,9.280000e-06,NaN,...,DA,NaN,NaN,NaN,15900.0,75.000,75.000,NaN,NaN,NaN
7412,0.490,0.04,0.04,0.024000,NaN,NaN,NaN,NaN,NaN,NaN,...,DA,NaN,NaN,NaN,15200.0,900.000,900.000,NaN,NaN,"PB 7296, Gaia DR3 2612053222273626752"

In [10]:
df.head()

,radius,radius_error_min,radius_error_max,orbital_period,orbital_period_error_min,orbital_period_error_max,semi_major_axis,semi_major_axis_error_min,semi_major_axis_error_max,eccentricity,...,star_sp_type,star_age,star_age_error_min,star_age_error_max,star_teff,star_teff_error_min,star_teff_error_max,star_detected_disc,star_magnetic_field,star_alternate_names
0,1.152,NaN,NaN,1075.40,0.7000,0.7000,2.051,0.087,0.087,0.104,...,G5 IV,6.90,0.60,0.60,5600.0,80.000,80.000,NaN,NaN,HD 10697
1,NaN,NaN,NaN,4.40,0.0004,0.0004,0.054,0.002,0.002,0.376,...,G0IV,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235
2,NaN,NaN,NaN,36336.70,6039.4000,6039.4000,22.210,2.766,2.766,0.174,...,G0IV,NaN,NaN,NaN,5986.0,105.437,105.437,NaN,NaN,HD 12235
3,NaN,NaN,NaN,326.03,0.3200,0.3200,1.290,0.050,0.050,0.231,...,G8III,NaN,NaN,NaN,4742.0,100.000,100.000,NaN,NaN,HD 107383
4,NaN,NaN,NaN,516.22,3.2500,3.2500,1.540,0.070,0.070,0.080,...,K4III,1.56,0.54,0.54,4340.0,70.000,70.000,NaN,NaN,NaN